:root {
    --left-padding: 40px;
    --right-size-width: 70%;
    --container-height: 750px;
    --font-size: 16px;
    font-family: sans-serif, 'Courier New', Courier, monospace;
    background-color: #f3f3f3   ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

#sign-up-container {
    display: flex;
    height: var(--container-height);
    max-width: 55vw;
    min-width: 1300px;
    box-shadow: 0px 10px 10px -5px gray;
    overflow: hidden;
}

#left-side {
    flex: 1 1 auto;
    position: relative;
    width: calc(100% - calc(var(--right-size-width)));
}

#left-side .images {
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

#left-side img {    
    width: 700px;
}

#left-side #logo-img {
    position: absolute;
    opacity: 45%;
    top: 10%;
    width: 100%;
    height: auto;
}

#left-side .photo-credit {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 14px;
    bottom: 0.5%;
    color: white;
}

#left-side a {
    color: wheat;
}

label, 
input {
    display: block;
}

#right-side {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    background-color: rgb(231, 231, 231);
    max-width: var(--right-size-width);
}

#right-side .pre-form-text {
    font-weight: bold;
    font-size: x-large;
    max-width: 75%;
    padding-left: var(--left-padding);
}


#form-top legend {
    padding-top: 15px;
    font-weight: bold;
    font-size: large;
}

#form-top > * {
    padding-left: var(--left-padding);
    padding-bottom: 20px;
}

#form-bottom > * {
    padding-left: var(--left-padding);
}

#form-top    {
    box-shadow: 0px 10px 10px -5px gray;
    background-color: #f8f8f8 !important;
}

#form-bottom {
    padding-top: 20px;
}


#input-fields label {
    font-size: small;
    padding-bottom: 1px;
}

#input-fields > div {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 8px;
}

#form-bottom button {
    padding: 12px 50px;
    border-radius: 10px;
    background-color: rgb(70, 133, 45);
    color: white;
    font-weight: bold;
    font-size: medium;
}

#form-bottom a {
    color: rgb(70, 133, 45);
}