:root {
    --left-padding: 40px;
    font-family: sans-serif, 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

label, 
input {
    display: block;
}

#right-side .pre-form-text {
    font-weight: bold;
    font-size: x-large;
    max-width: 75%;
    padding-left: var(--left-padding);
}

.sign-up-container {
    display: flex;
    border: 1px solid black;
    height: 750px;
    min-width: 55vw;
}

#form-top legend {
    padding-top: 15px;
    font-weight: bold;
    font-size: large;
}

#form-top > * {
    padding-left: var(--left-padding);
    padding-bottom: 20px;
}

#form-bottom > * {
    padding-left: var(--left-padding);
}

#form-top    {
    box-shadow: 0px 10px 10px -5px gray;
    background-color: #FEFEFE !important;
}

#form-bottom {
    padding-top: 20px;
}

#left-side {
    flex: 1 1 auto;
    border: 1px solid black;
}

#right-side {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    background-color: rgb(236, 236, 236);
    max-width: 65%;
}

#input-fields label {
    font-size: small;
    padding-bottom: 1px;
}

#input-fields > div {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 8px;
}

#form-bottom button {
    padding: 12px 50px;
    border-radius: 10px;
    background-color: rgb(70, 133, 45);
    color: white;
    font-weight: bold;
    font-size: medium;
}

#form-bottom a {
    color: rgb(70, 133, 45);
}